<footer>
    <div class="container">
        <div class="d-flex justify-content-between pt-1">
            <p class="small mb-2">© 2022 Basant Ashraf, all rights reserved</p>
            <div class="icons">
                <a href="https://www.facebook.com/basant.ashraf.3994" target="_blank" class="me-3"><i class="fa-brands fa-facebook-f"></i></a>
                <a href="https://github.com/basant-ashraf" target="_blank"><i class="fa-brands fa-github"></i></a>
            </div>
        </div>
    </div>
</footer>