@import '../../../styles.scss';

section{
    background-image: url('../../../assets/images/head.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}